.diet-plan {
    font-family: Arial, sans-serif;
    color: black;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    background-color: orange;
    border: 1px solid red;
    text-align: left; 
}

.diet-plan h2 {
    color: black;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.diet-plan h3 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

.diet-plan ul {
    list-style-type: disc; /* Use disc for bullet points */
    padding: 0;
}

.diet-plan li {
    padding: 5px 0;
    background-color: black;
    color: orange;
    margin-left: 1px;
    border-radius: 5px;
}